---
interface Props {
  imagePath: string;
  name: string;
  alt: string;
}

const { imagePath, name, alt }: Props = Astro.props;
---

<div class="card">
  <div class="body">
    <img src={imagePath} alt={`${alt} skill icon`} loading="lazy" />
    <p class="title">{name}</p>
  </div>
</div>

<style>
  .card {
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--bg-color-button);
    transition: 0.3s;
    border: 1px solid var(--border-color-nav);
  }

  .card .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 100%;
  }

  .card .body img {
    width: auto;
    height: 45px;
  }

  .card .body p.title {
    font-size: 16px;
    font-weight: 500;
    color: var(--font-color);
  }

  @media (max-width: 480px) {
    .card {
      border-radius: 0.8rem;
      padding: 0.8rem;
    }

    .card .body img {
      height: 35px;
    }
    .card .body p.title {
      font-size: 14px;
    }
  }
</style>
