---
const YEARS_OLD = new Date().getFullYear() - 2001;
---

<section id="about">
  <span class="title">About me 👨</span>
  <div class="wrap">
    <div class="description">
      <p>
        I'm <span class="high"> Marco Antonio Cruz Gabino </span>, I'm {YEARS_OLD} years old and
        I'm a computer science student who is passionate about <span class="high"> writing code,
        solving problems and building software.</span></p>
      <br>
      <p>
        I'm currently learning Backend
        development to complement my web skills
      </p>
    </div>
    <div class="image">
      <figure>
        <img src="programming.jpg" alt="programming-image">
      </figure>
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }

  .wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .description {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.5;
    color: var(--font-color-2);
  }

  .description .high {
    color: var(--primary-color);
  }

  .image {
    flex: 1;
  }

  section figure {
    display: inline-block;
    box-sizing: border-box;
    width: 20rem;
    height: 19rem;
  }

  section figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 51% 49% 49% 51% / 49% 52% 48% 51%;
    border: 3px solid var(--primary-color);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    background: #3b82f6;
  }

  @media (max-width: 900px) {
    section {
      padding: 0;
    }
    section .description {
      font-size: 18px;
      max-width: 100%;
    }

    .wrap {
      flex-direction: column;
      gap: 2rem;
    }
  }

  @media (max-width: 480px) {
    section figure {
      width: 15rem;
      height: 14rem;
    }
  }
</style>
