---
import { GITHUB_URL, LINKEDIN_URL } from '@constants/urls.ts';
---

<header>
  <p class="logo-header">
    Marco Cruz <span>.</span>
  </p>
  <div class="social-icons">
    <a target="_blank" href={GITHUB_URL} class="icon">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-brand-github"
        width="44" height="44" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="#2c3e50" fill="none"
        stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0
          -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6
          0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3
          -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5
          -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0
          0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
      </svg>
    </a>
    <a target="_blank" href={LINKEDIN_URL} class="icon">
      <svg xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-brand-linkedin"
        width="44" height="44" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="#2c3e50" fill="none"
        stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
        <path d="M8 11l0 5" />
        <path d="M8 8l0 .01" />
        <path d="M12 16l0 -5" />
        <path d="M16 16v-3a2 2 0 0 0 -4 0" />
      </svg>
    </a>
  </div>

<style>
  header {
    position: absolute;
    z-index: 999;
    padding: 40px 16px;
    height: 80px;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header p.logo-header {
    font-family: "Yellowtail", cursive;
    font-size: 52px;
    color: var(--primary-color);
  }

  header p.logo-header span {
    color: #ff0000;
  }

  header .social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  header .social-icons a {
    text-decoration: none;
    transition: 0.4s;
    color: var(--secondary-color);
    font-size: 16px;
  }

  header .social-icons a:hover {
    color: var(--primary-color);
  }

  @media (max-width: 900px) {
    header p.logo-header {
      font-size: 46px;
    }
  }

  @media (max-width: 480px) {
    header p.logo-header {
      font-size: 36px;
    }
  }
</style>
