---
import GithubIcon from '@components/icons/github-icon.astro';
import LinkedinIcon from '@components/icons/linkedin-icon.astro';
import LanguageSelect from '@components/selects/language.astro';
import { GITHUB_URL, LINKEDIN_URL } from '@constants/urls.ts';
---

<header>
  <p class="logo-header">
    M<span>.</span>
  </p>
  <div class="social-icons">
    <a target="_blank" href={GITHUB_URL} class="icon" aria-label="Github">
      <GithubIcon height={35} width={35} />
    </a>
    <a target="_blank" href={LINKEDIN_URL} class="icon" aria-label="Linkedin">
      <LinkedinIcon height={35} width={35} />
    </a>
    <LanguageSelect />
  </div>
</header>

<style>
  header {
    position: absolute;
    z-index: 999;
    padding: 40px 16px;
    height: 80px;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header p.logo-header {
    font-family: 'Yellowtail', cursive;
    font-size: 52px;
    color: var(--primary-color);
  }

  header p.logo-header span {
    color: #ff0000;
  }

  header .social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  header .social-icons a {
    text-decoration: none;
    transition: 0.4s;
    color: var(--secondary-color);
    font-size: 16px;
  }

  header .social-icons a:hover {
    color: var(--primary-color);
  }

  @media (max-width: 900px) {
    header p.logo-header {
      font-size: 46px;
    }
  }

  @media (max-width: 480px) {
    header p.logo-header {
      font-size: 36px;
    }
  }
</style>
