---
import { GITHUB_URL, LINKEDIN_URL } from '@constants/urls.ts';
---

<section class="home" id="home">
  <div class="main-title">
    <h1 class="title">Hello there!✌️</h1>
    <h2 class="title">I'm <span class="subtitle-name">Marco</span></h2>
    <span class="title-job">Frontend Developer</span>
    <div class="bottom">
      <button class="button-home"> Download CV </button>
      <div class="social">
        <a target="_blank" href={GITHUB_URL} class="icon">
          <svg xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-github"
            width="44" height="44" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="#2c3e50" fill="none"
            stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0
              -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6
              0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3
              -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5
              -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0
              0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
          </svg>
        </a>
        <a target="_blank" href={LINKEDIN_URL} class="icon">
          <svg xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-linkedin"
            width="44" height="44" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="#2c3e50" fill="none"
            stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2
              2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
            <path d="M8 11l0 5" />
            <path d="M8 8l0 .01" />
            <path d="M12 16l0 -5" />
            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
          </svg>
        </a>
      </div>
    </div>
  </div>
  <figure>
    <img src="assets/picture.png" alt="profile-image" class="profile">
  </figure>
</section>

<style>
  section.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh !important;
    margin: 0;
  }

  .main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
  }

  .main-title .bottom {
    margin-top: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  .main-title .bottom .social {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
  }

  .main-title .bottom .social a {
    text-decoration: none;
    transition: 0.4s;
    color: var(--secondary-color);
    font-size: 20px;
  }

  .main-title .bottom .social a:hover {
    color: var(--primary-color);
  }

  h1.title {
    font-weight: bold;
    font-size: 64px;
  }

  h2.title {
    font-weight: bold;
    font-size: 64px;
  }

  h2.title span.subtitle-name {
    font-size: 64;
    font-weight: bold;
    color: var(--primary-color);
  }

  span.title-job {
    font-size: 38px;
    font-weight: bold;
  }

  .home figure {
    display: inline-block;
    box-sizing: border-box;
    width: 35rem;
    height: 30rem;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 63% 37% 48% 52% / 60% 57% 43% 40%;
    border: 3px solid var(--primary-color);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    background: #3b82f6;
  }

  @media (max-width: 1024px) {
    .home figure {
      width: 28rem;
      height: 23rem;
    }
  }

  @media (max-width: 900px) {
    .home figure {
      width: 28rem;
      height: 23rem;
    }
  }

  @media (max-width: 768px) {
    section.home {
      flex-direction: column-reverse;
      justify-content: center;
    }
    .main-title {
      text-align: center;
    }
    h1.title,
    h2.title {
      font-size: 52px;
      margin: 0;
    }
    span.title-job {
      font-size: 28px;
    }
    .home figure {
      width: 18rem;
      height: 18rem;
    }
    .main-title .bottom {
      justify-content: center;
    }
  }

  @media (max-width: 480px) {
    h1.title,
    h2.title {
      font-size: 42px;
    }
    span.title-job {
      font-size: 28px;
    }
    .home figure {
      width: 14rem;
      height: 14rem;
    }
  }
</style>
