---
import GithubIcon from '@components/icons/github-icon.astro';
import LinkedinIcon from '@components/icons/linkedin-icon.astro';
import { GITHUB_URL, LINKEDIN_URL } from '@constants/urls.ts';
---

<section class="home" id="home">
  <div class="main-title">
    <h1 class="title">Hello there!✌️</h1>
    <h2 class="title">I'm <span class="subtitle-name">Marco</span></h2>
    <span class="title-job">Frontend Developer</span>
    <div class="bottom">
      <button class="button-home"> Download CV </button>
      <div class="social">
        <a target="_blank" href={GITHUB_URL} class="icon">
          <GithubIcon height={45} width={45} />
        </a>
        <a target="_blank" href={LINKEDIN_URL} class="icon">
          <LinkedinIcon height={45} width={45} />
        </a>
      </div>
    </div>
  </div>
  <figure>
    <img src="assets/picture.png" alt="profile-image" class="profile">
  </figure>
</section>

<style>
  section.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh !important;
    margin: 0;
  }

  .main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
  }

  .main-title .bottom {
    margin-top: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  .main-title .bottom .social {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
  }

  .main-title .bottom .social a {
    text-decoration: none;
    transition: 0.4s;
    color: var(--secondary-color);
    font-size: 20px;
  }

  .main-title .bottom .social a:hover {
    color: var(--primary-color);
  }

  h1.title {
    font-weight: bold;
    font-size: 64px;
  }

  h2.title {
    font-weight: bold;
    font-size: 64px;
  }

  h2.title span.subtitle-name {
    font-size: 64;
    font-weight: bold;
    color: var(--primary-color);
  }

  span.title-job {
    font-size: 38px;
    font-weight: bold;
  }

  .home figure {
    display: inline-block;
    box-sizing: border-box;
    width: 35rem;
    height: 30rem;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 63% 37% 48% 52% / 60% 57% 43% 40%;
    border: 3px solid var(--primary-color);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    background: #3b82f6;
  }

  @media (max-width: 1024px) {
    .home figure {
      width: 28rem;
      height: 23rem;
    }
  }

  @media (max-width: 900px) {
    .home figure {
      width: 28rem;
      height: 23rem;
    }
  }

  @media (max-width: 768px) {
    section.home {
      flex-direction: column-reverse;
      justify-content: center;
    }
    .main-title {
      text-align: center;
    }
    h1.title,
    h2.title {
      font-size: 52px;
      margin: 0;
    }
    span.title-job {
      font-size: 28px;
    }
    .home figure {
      width: 18rem;
      height: 18rem;
    }
    .main-title .bottom {
      justify-content: center;
    }
  }

  @media (max-width: 480px) {
    h1.title,
    h2.title {
      font-size: 42px;
    }
    span.title-job {
      font-size: 28px;
    }
    .home figure {
      width: 14rem;
      height: 14rem;
    }
  }
</style>
